	// Paddings
	$px: 20px;
	
	// Border radius
	$br: 10px;

	// Dimensions
	$card-unit: 40px;
	$card-xs: $card-unit;
	$card-sm: $card-unit * 2;
	$card-md: $card-unit * 3;
	$card-lg: $card-unit * 4;
	$card-xl: $card-unit * 5;
	$card-xxl: $card-unit * 6;
