@use 'cursor-animation.css';
@use 'github-dark-prism.css';
@use 'bootstrap/scss/bootstrap.scss' as bs;

// Colors
$wa-color: #25D366;
$teleg-color: #0088cc;
$link-color: #0000EE; 

@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}
